/*:root {
  --primary-light: #60ad5e;
  --primary-dark: #005005;
  --primary: #2e7d32;
  --secondary-light: #b5ffff;
  --secondary-dark: #4ba2c6;
  --secondary: #81d3f9;
}*/
body {
  padding-top: 40px;
  font-family: 'Trirong', Garamond;
  color: black;
}
h3 {
  text-align: center;
}
#rescue-nav a, #rescue-nav a:visited, #rescue-nav a:focus {
  font-size: 20px;
  color: white;
}
#rescue-nav a:hover {
  color: rgba(68, 102, 0, 1);
}
#rescue-nav {
  border: none;
  background-color: #005005;
  color: white;
}
#mode {
  background: #4ba3c7;
  height: 100%;
  margin-left: 10px;
}
.row {
  margin: 0;
  padding: 0;
}
#intro {
  width: 100%;
  height: 650px;
  padding: 50px 0 50px 50px;
  background-image: url("https://images.unsplash.com/photo-1442605527737-ed62b867591f?dpr=1&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb");
  background-position: center;
  background-size: cover;
}
.insettext {
  background-color: #2e7d32;
  width: 450px;
  height: auto;
  padding: 20px;
  color: white;
}
#becomehero {
  background: #60ad5e;
  width: 200px;
  height: 35px;
  line-height: 35px;
  color: white;
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}
.insettext > p, #donate p, #adoption p {
  margin-top: 50px;
  font-size: 20px;
}
#adoption {
  height: auto;
  padding: 15px;
  text-align: center;
}
#adoption p {
  text-align: left;
}
#adoption h2 {
  text-align: left;
}
#adoption > div:first-of-type > div {
  background: #4ba3c7;
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin: 50px auto 0 auto;
}
#sheltersearch {
  width: 200px;
  height: 40px;
  color: black;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  border: none;
}
#sheltersearchgo {
  color: white;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}
#sheltersearch:focus {
  outline: none;
}
#shelters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 20px 0;
}
.shelter {
  background: #81d4fa;
  height: auto;
  width: 300px;
  padding: 5px;
  margin: 5px auto;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
}
.shelterdetail {
  background: #81d4fa;
  height: auto;
  width: 80%;
  padding: 5px;
  margin: 5px auto;
  border-radius: 5px;
  text-align: left;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#donate {
  width: 100%;
  height: 650px;
  background-image: url("https://images.unsplash.com/photo-1470074197821-3abc53a30868?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1199&amp;h=674&amp;q=80&amp;cs=tinysrgb");
  background-position: center;
  background-size: cover;
  padding: 50px 70px;
}
#donate > div {
  float: right;
  background-color: #2e7d32;
  width: 450px;
  height: auto;
  padding: 20px;
  color: white;
}
#donatehero {
  background: #60ad5e;
  width: 200px;
  height: 35px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-top: 50px;
  font-size: 20px;
}
#becomehero:hover, #donatehero:hover {
  background: #b5ffff;
  color: black;
  cursor: pointer;
}
#bizsupport {
  height: 350px;
  padding-top: 30px;
  text-align: center;
}
#bizsupport h4 {
  margin-bottom: 30px;
}
#foster {
  width: 100%;
  height: 650px;
  padding: 50px 0 50px 50px;
  background-image: url("https://images.unsplash.com/photo-1440484433300-c3317c44152e?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=912&amp;q=80&amp;cs=tinysrgb");
  background-position: center;
  background-size: cover;
}
footer > div {
  padding: 10px 10px;
}
footer p {
  padding: 0px 0px 0px 10px;
}
#newssubmit {
  margin: 30px 0px 0px 10px;
  width: 100px;
  border: 1px solid rgb(150, 150, 150);
  color: rgb(150, 150, 150);
  text-align: center;
}
footer input {
  margin: 10px 0px 0px 10px;
}
@media screen and (max-width: 367px) {
  #intro, #donate, #bizsupport, #foster, #adoption, #shelters {
    padding: 1%;
    width: 100%;
    height: auto;
  }
  .insettext > p, #donate p, #adoption p {
    font-size: 17px;
  }
  .insetblk, .insettext, #donate > div {
    width: 100%;
    height: auto;
  }
  #dogs {
    margin: 15px 0;
  }
  #bizsupport {
    height: auto;
  }
  #bizsupport > div > div {
    margin: 10px auto;
  }
  footer input {
    width: 90%;
  }
}
@media screen and (min-width: 368px) and (max-width: 767px) {
  #intro, #donate, #bizsupport, #foster {
    padding: 5%;
  }
  .insetblk, .insettext, #donate > div {
    width: auto;
    height: auto;
  }
  #adoption, #shelters, #donate {
    width: 100%;
    height: auto;
  }
  #donate > div {
    float: none;
  }
  #bizsupport {
    height: auto;
  }
  #bizsupport > div > div {
    margin: 10px auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1026px) {
  .available {
    width: 90%;
  }
}
@media screen and (min-width: 1027px) and (max-width: 1199px) {
  #shelters {
    margin: 20px 0;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1411px) {
  #adoption > .row {
    padding: 15px;
  }
  #shelters {
    margin: 20px 0;
  }
}
